<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StartRequestDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C90F30F41F16415B00ECD030</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C90F310D1F16415B00ECD030</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C90F31181F16415B00ECD030</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
